<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="#" class="" >
                <img src="/UploadedFiles/images/logomepac (1).png" width="150px"/>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="green dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">5</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-envelope-o"></i>
                            5 Tin nhắn
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#" class="clearfix">
                                        <!--<img src="assets/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />-->
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Nguyễn Văn Anh:</span>
                                                Chào công ty MEPAC....
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>06/09/2018</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <!--<img src="assets/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />-->
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Lê Tuấn Kiệt:</span>
                                                Chào công ty MEPAC....
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>06/09/2018</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <!--<img src="assets/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />-->
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Lê Thị Mỹ Kim:</span>
                                                Chào công ty MEPAC....
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>06/09/2018</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <!--<img src="assets/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />-->
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Đào Lê Na:</span>
                                                Chào công ty MEPAC....
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>06/09/2018</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <!--<img src="assets/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />-->
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Ngô Anh Tuấn:</span>
                                                Chào công ty MEPAC....
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>06/09/2018</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--<li class="dropdown-footer">
                            <a href="inbox.html">
                                See all messages
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>-->
                    </ul>
                </li>

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="assets/images/avatars/user.jpg" alt="Jason's Photo" />
                        <span class="user-info">
                            <small>Chào,</small> Thuyền
                        </span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <!--<li>
                            <a href="#">
                                <i class="ace-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>-->

                        <li>
                            <a href="profile.html">
                                <i class="ace-icon fa fa-user"></i>
                                Hồ sơ
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-cog"></i>
                                Đổi mật khẩu
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-power-off"></i>
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <!--<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>-->

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li class="class-menu class-menu-1 active" value="1">
                <a ui-sref="home" class="open-tab-menu">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu class-menu-2" value="2">
                <a ui-sref="projects" class="open-tab-menu">
                    <i class="menu-icon fa fa-building"></i>
                    <span class="menu-text"> Thông tin dự án </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu class-menu-3" value="3">
                <a ui-sref="news" class="open-tab-menu">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Tin tức hoạt động </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu class-menu-4" value="4">
                <a ui-sref="range" class="open-tab-menu">
                    <i class="menu-icon fa fa-delicious"></i>
                    <span class="menu-text"> Lĩnh vực hoạt động </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu class-menu-5" value="5">
                <a ui-sref="hiring" class="open-tab-menu">
                    <i class="menu-icon fa fa-bullhorn"></i>
                    <span class="menu-text"> Thông tin tuyển dụng </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu class-menu-6" value="6">
                <a ui-sref="partner" class="open-tab-menu">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text"> Thông tin đối tác </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu class-menu-7" value="7">
                <a ui-sref="slides" class="open-tab-menu">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Quản lý slide banner </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu class-menu-9" value="9">
                <a ui-sref="slides" class="open-tab-menu">
                    <i class="menu-icon fa fa-envelope "></i>
                    <span class="menu-text"> Hộp thư</span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="class-menu sub-menu class-menu-8" value="8">
                <a href="javascript:void(0);" class="dropdown-toggle open-tab-menu" value="0">
                    <i class="menu-icon fa fa-cogs"></i>
                    <span class="menu-text"> Hệ thống </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="tab-submenu tab-submenu-81" value="81">
                        <a ui-sref="inforCompany"><i class="menu-icon fa fa-caret-right"></i>Thông tin công ty</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="tab-submenu tab-submenu-82" value="82">
                        <a ui-sref="categories"><i class="menu-icon fa fa-caret-right"></i>Quản lý hình ảnh</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="tab-submenu tab-submenu-83" value="83">
                        <a ui-sref="categories"><i class="menu-icon fa fa-caret-right"></i>Quản lý người dùng</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="tab-submenu tab-submenu-84" value="84">
                        <a ui-sref="categories"><i class="menu-icon fa fa-caret-right"></i>Quản lý nhóm người dùng</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>      
        </ul><!-- /.nav-list -->
        <script type="text/javascript">
            $(document).ready(function () {              
                var val = localStorage.getItem("liActive");
                if (val != null && val != undefined && val != '' && val != 'null')
                {
                    $("li.class-menu.active").removeClass("active");
                    $('li.class-menu-' + val).addClass("active");

                    if ($('li.class-menu-' + val).hasClass("sub-menu"))
                    {
                        $('li.class-menu-' + val).addClass("open");
                    }
                }

                if ($("li.class-menu.active").hasClass("sub-menu"))
                {
                    var valSub = localStorage.getItem("liTabActive");
                    if (valSub != null && valSub != undefined && valSub != '' && valSub != 'null') {
                        $("li.tab-submenu.active").removeClass("active");
                        $('li.tab-submenu-' + valSub).addClass("active");
                    }
                }
            });

            $("li.class-menu").click(function(){
                if (!$(this).hasClass("active")) {
                    localStorage.setItem("liActive", $(this).attr("value"));
                    $("li.class-menu.active").removeClass("active");
                    $("li.class-menu.open").removeClass("open");
                    $(this).addClass("active");
                }

                if ($(this).hasClass("sub-menu"))
                {
                    if ($(this).find("ul.submenu").css("display") == 'none') {
                        $(this).addClass("open");
                    }
                    else {
                        $(this).removeClass("open");
                    }
                }

            });

            $("li.tab-submenu").click(function () {
                if (!$(this).hasClass("active")) {
                    localStorage.setItem("liTabActive", $(this).attr("value"));
                    $("li.tab-submenu.active").removeClass("active");                  
                    $(this).addClass("active");
                    $("li.sub-menu.active").addClass("open");
                }
            });
        </script>
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <!--<div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>
                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside
                                    <b>.container</b>
                                </label>
                            </div>
                        </div>

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <div ui-view></div>
                </div>               
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">
                    © 2018 Copyright by <span class="blue bolder">MEPAC</span>. All rights reserved
                </span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

