<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="page-header">

            <div class="col-md-7 col-xs-6">
                <span style="font-size:22px">Nội dung lĩnh vực</span>
            </div>
            <!--<!--<div class="col-md-2 col-xs-2">
                <button ng-click="onClickAddRange()" class="btn btn-sm btn-block btn-primary btn-flat" type="button">
                    <i class="fa fa-plus"></i> <span class="hidden-480">Thêm mới</span>
                </button>
            </div>-->
            <div class="col-md-offset-2 col-md-1 col-xs-offset-2 col-xs-2 pull-right">
                <button id="btnDeleteMulti" ng-click="deleteMulti()" class="btn btn-sm btn-block btn-danger btn-flat" type="button">
                    <!--ng-disabled="selectDelete"-->
                    <!--ng-click="deleteMulti()"-->
                    <i class="fa fa-trash-o"></i> <span class="hidden-480"> Xóa</span>
                </button>
            </div>

    </div>

    <div class="row">
        <div class="col-sm-4 col-xs-4">
            <input type="text" class="form-control" ng-model="keyword" maxlength="100" placeholder="Tên lĩnh vực">
        </div>
        <!--<div class="col-sm-2 col-xs-3">
            <select name="categoryID" ng-required=true class="form-control"
                    ng-model="categories.ProductCategoryID" ng-change="onChangePCategory()"
                    ng-options="option.ProductCategoryID as option.Display for option in categories">
                <option value="">[Thể loại]</option>
            </select>
        </div>-->

        <div class="col-md-4">
            <div class="input-group date">
                <input type="text" class="form-control pull-left" id="datepicker2" placeholder="Từ ngày">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="datepicker" placeholder="Đến ngày">
            </div>
        </div>

        <div class="col-sm-2 col-xs-3">
            <select name="statusID" class="form-control" ng-model="listStatus.StatusID" ng-change="onChangeStatus()"
                    ng-options="option.StatusID as option.StatusName for option in listStatus"></select>
        </div>
        <div class="col-sm-2 col-xs-2">
            <button class="btn btn-sm btn-block btn-primary btn-flat center-block" type="button" ng-click="onSearch()">
                <i class="fa fa-search"></i> <span class="hidden-480">Tìm kiếm</span>
            </button>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="table-responsive">
                <table id="simple-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 3%; text-align:center">STT</th>
                            <th style="width: 20%; text-align:center">Tên lĩnh vực</th>
                            <th style="width: 5%; text-align:center">Ngày tạo</th>
                            <th style="width: 15%; text-align:center">Người tạo</th>
                            <th style="width: 5%; text-align:center" class="right">Ngày sửa</th>
                            <th style="width: 15%; text-align:center" class="right">Người sửa</th>
                            <!--<th style="width: 10%; text-align:center" class="hidden-480">Trạng thái</th>-->
                            <th style="border-right: 1px solid #ddd;width: 2%; text-align:center" class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" name="all" ng-model="checkall" ng-click="selectAll()" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in lstRange">
                            <td class="center">{{ $index + 1 }}</td>
                            <td>
                                <a ui-sref="rangeEdit({rangeId:item.SubMenuID})">
                                    <!--ng-style="item.IsActive == false && {'color':'red'}"-->
                                    {{ item.SubMenuName}}
                                </a>
                            </td>
                            <td>{{item.CreateDate | date :'dd/MM/yyyy'}}</td>
                            <td>{{item.CreateBy}}</td>
                            <td>{{item.UpdateDate | date :'dd/MM/yyyy'}}</td>
                            <td>{{item.UpdateBy}}</td>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" ng-model="item.checked" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="left">
                                <span ng-hide="checkAllDelete" class="pull-left" style="padding:5px">Không có bản ghi nào</span>
                                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}"
                                                 total-count="{{totalCount}}" search-func="ListRange(page)">
                                </pager-directive>
                                <select ng-show="checkAllDelete" ng-change="changeShow()" ng-model="valueShow" class="pull"
                                        ng-options="option.value as option.name for option in options"></select>

                                <span ng-show="checkAllDelete" class="hidden-480 pull-right" style="padding:5px">
                                    Hiển thị từ <strong> {{ showFrom }}</strong> - <strong>{{showTo}}</strong> của <strong>{{totalCount}}</strong> bản ghi
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
</body>
</html>

<!-- Modal -->
<!--
<div id="modelImportExcel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form class="form-horizontal" novalidate name="frmImportProduct" role="form" ng-submit="ImportProduct()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nhập sản phẩm từ Excel</h4>
                </div>
                <div class="modal-body">


                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Chọn file excel <span class="class-required">*</span></label>
                            <div class="input-file" name="Fichier1">
                                <input file-upload name="file" ng-required=true type="file" class="class-width-2 form-control"
                                       placeholder='Chưa có file được chọn' />
                            </div>
                        </div>
                    </div>



                    <button ng-click="DownloadTemplate()" class="btn btn-block btn-success btn-flat" type="button">
                        <i class="fa fa-download"></i> <span class="infoSpan">Tải file mẫu</span>
                    </button>
                </div>
                <div class="modal-footer center">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
                    <div class="col-md-4 col-xs-4">
                        <button class="btn btn-block btn-primary btn-flat" type="submit">
                            <i class="fa fa-save"></i> <span class="infoSpan">Import</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    -->
<!--<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">Thông tin tìm kiếm</h5>
                <div class="widget-toolbar">
                    <a href="javascript:void(0);" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body" style="display: block;">
                <div class="widget-main form-horizontal">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <select name="categoryID" ng-required=true class="form-control"
                                        ng-model="categories.ProductCategoryID" ng-change="onChangePCategory()"
                                        ng-options="option.ProductCategoryID as option.Display for option in categories">
                                    <option value="">[Thể loại]</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select name="statusID" class="form-control" ng-model="listStatus.StatusID" ng-change="onChangeStatus()"
                                        ng-options="option.StatusID as option.StatusName for option in listStatus"></select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="productName" placeholder="Tên sản phẩm">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="productCode" placeholder="Mã sản phẩm">
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="row">
                        <div class="col-sm-12">


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-xs-4">
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <button class="btn btn-sm btn-block btn-primary btn-flat center-block" type="button" ng-click="onSearch()">
                            <i class="fa fa-search"></i> <span class="hidden-480">Tìm kiếm</span>
                        </button>
                    </div>
                    <div class="col-sm-5 col-xs-4">
                    </div>
                </div>
                <div class="space-4"></div>
            </div>
        </div>
    </div>
</div>-->
