<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
</head>
<body ng-controller="partnerEditController">
    <form class="form-horizontal" novalidate name="frmAddPartner" role="form" ng-submit="EditPartner()">
        <div class="page-header">
            <div style="display:initial; ">
                <div class="col-md-8 col-xs-6">
                    <span style="font-size:22px">Cập nhật <span class="hidden-480">đối tác</span></span>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="col-md-4 col-xs-4 pull-right">
                        <button class="btn btn-sm btn-default" type="reset" ui-sref="partner">
                            <i class="ace-icon fa fa-undo bigger-110"></i><span class="hidden-480">Quay lại</span>
                        </button>
                    </div>
                    <div class="col-md-3 col-xs-4 pull-right">
                        <button class="btn btn-sm btn-info" type="submit" ng-disabled="frmAddPartner.$invalid">
                            <i class="ace-icon fa fa-save bigger-110"></i> <span class="hidden-480">Lưu</span>
                        </button>
                    </div>
                </div>

            </div>
            <input type="hidden" ng-model="typeAction" />
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group hidden-480">
                            <label class="col-sm-12 control-label no-padding-right" style="text-align:left!important">
                                Nhập các thông tin cơ bản của dự án
                                <br /><i>(Lưu ý: các trường có dấu <span style="color:red">*</span> là bắt buộc)</i>
                            </label>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label no-padding-right" for="form-field-1">
                                    Tên dự án <span class="label-required">*</span>
                                </label>
                                <div class="col-sm-4 col-md-4">
                                    <input ng-required="true" type="text" maxlength="200" name="display" placeholder="Tên đối tác" class="col-xs-12 col-sm-12"
                                           ng-model="partnerInfo.Display">
                                    <span class="has-error" ng-show="frmAddPartner.display.$touched && frmAddPartner.display.$error.required">
                                        Vui lòng nhập tên dự án!
                                    </span>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    Logo <span class="label-required">*</span>
                                </label>
                                <div class="col-sm-4">
                                    <!--<select name="categoryID" ng-required=true class="form-control" ng-model="categories"
                                            ng-options="option.CategoryID as option.Display group by option.GroupName for option in categories">
                                        <option value="" selected="selected">[Lựa chọn]</option>
                                    </select>-->

                                    <label class="ace-file-input">
                                        <input type="file" name="linkImage" id="id-input-file-2">
                                        <span class="ace-file-container" data-title="Chọn" ng-click="ChooseImage()">
                                            <span class="ace-file-name" id="spanImage" data-title="Chưa chọn ảnh...">
                                                <i class="ace-icon fa fa-upload"></i>
                                            </span>
                                        </span>
                                        <a class="remove" href="#">
                                            <i class="ace-icon fa fa-times">
                                            </i>
                                        </a>
                                    </label>
                                    <!--<button class="btn btn-default" ng-click="ChooseImage()">Chọn ảnh</button>-->
                                    <span class="has-error" ng-show="frmAddPartner.linkImage.$touched && frmAddPartner.linkImage.$error.required">
                                        Vui lòng chọn hình ảnh!
                                    </span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                        </div>

                        <div class="space-4"></div>
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Website</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Website" class="form-control" ng-model="partnerInfo.Website">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Địa chỉ</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Địa chỉ" class="form-control" ng-model="partnerInfo.Address">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Email</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Email" class="form-control" ng-model="partnerInfo.Email">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Điện thoại</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Điện thoại" class="form-control" ng-model="partnerInfo.Phone">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Meta keyword</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Meta keyword" class="form-control" ng-model="partnerInfo.MetaKeyword">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Meta description</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Meta Description" class="form-control" ng-model="partnerInfo.MetaDescription">
                                </div>
                            </div>
                        </div>

                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"></label>
                            <div class="col-sm-10">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" name="all" ng-model="partnerInfo.IsActive" />
                                    <span class="lbl"> Trạng thái</span>
                                </label>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="col-md-4 col-xs-6" style="float:right">

                                <div class="col-md-4 col-xs-4 pull-right">
                                    <button class="btn btn-sm btn-default" type="reset" ui-sref="partner">
                                        <i class="ace-icon fa fa-undo bigger-110"></i><span class="hidden-480">Quay lại</span>
                                    </button>
                                </div>
                                <div class="col-md-3 col-xs-4 pull-right">
                                    <button class="btn btn-sm btn-info" type="submit" ng-disabled="frmAddPartner.$invalid">
                                        <i class="ace-icon fa fa-save bigger-110"></i> <span class="hidden-480">Lưu</span>
                                    </button>
                                </div>
                                <input type="hidden" ng-model="typeAction" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>