<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
</head>
<body ng-controller="productAddController">
    <form class="form-horizontal" novalidate name="frmAddProject" role="form" ng-submit="AddProject()">
        <div class="page-header">
            <div style="display:initial; ">
                <div class="col-md-8 col-xs-6">
                    <span style="font-size:22px">Thêm mới <span class="hidden-480">dự án</span></span>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="col-md-3 col-xs-4">
                        <button class="btn btn-sm btn-info" type="button" ng-click="Save()" ng-disabled="frmAddProject.$invalid">
                            <i class="ace-icon fa fa-save bigger-110"></i> <span class="hidden-480">Lưu</span>
                        </button>
                    </div>
                    <div class="col-md-5 col-xs-4">
                        <button class="btn btn-sm btn-info" type="button" ng-click="SaveContinue()" ng-disabled="frmAddProject.$invalid">
                            <i class="ace-icon fa fa-save bigger-110"></i><span class="hidden-480">Lưu và tiếp tục</span>
                        </button>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <button class="btn btn-sm btn-default" type="reset" ui-sref="products">
                            <i class="ace-icon fa fa-undo bigger-110"></i><span class="hidden-480">Quay lại</span>
                        </button>
                    </div>



                </div>
            </div>
            <input type="hidden" ng-model="typeAction" />
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group hidden-480">
                            <label class="col-sm-12 control-label no-padding-right" style="text-align:left!important">
                                Nhập các thông tin cơ bản của dự án
                                <br /><i>(Lưu ý: các trường có dấu <span style="color:red">*</span> là bắt buộc)</i>
                            </label>
                        </div>

                        <!--<div class="col-xs-12 col-md-3 center">
                            <span class="profile-picture">
                                <img id="avatar" class="editable img-responsive editable-click editable-empty"
                                     alt="Alex's Avatar" src="/Assets/images/avatars/profile-pic.jpg">
                            </span>
                            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">                             
                                 <div class="inline position-relative">
                                    <a href="javascript:void(0);" id="uploadAvatar" class="user-title-label">
                                        <i class="ace-icon fa fa-circle light-green"></i>
                                        &nbsp;
                                        <span class="white">Tải ảnh</span>
                                    </a>
                                </div>
                                <div style="display:none">
                                    <input accept="image/*" type="file" id="selectFileAvatar">
                                </div>
                            </div>
                        </div>-->

                        <div  class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    Tên dự án <span class="label-required">*</span>
                                </label>
                                <div class="col-sm-4">
                                    <input ng-required="true" type="text" maxlength="200" name="display" placeholder="Tên dự án" class="col-xs-12 col-sm-12"
                                           ng-model="projectInfo.Display">
                                    <span class="has-error" ng-show="frmAddProject.display.$touched && frmAddProject.display.$error.required">
                                        Vui lòng nhập tên dự án!
                                    </span>
                                </div>

                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 
                                    Thời gian thực hiện <span class="label-required">*</span></label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <input type="date" class="form-control pull-left" name="fromDate" ng-model="projectInfo.FromDate" id="datepicker2" placeholder="Từ ngày">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="date" class="form-control pull-right" name="toDate" ng-model="projectInfo.ToDate" id="datepicker" placeholder="Đến ngày">
                                        <span class="has-error" ng-show="{{(frmAddProject.fromDate.$touched && frmAddProject.fromDate.$error.required) || (frmAddProject.toDate.$touched && frmAddProject.toDate.$error.required) }}">
                                            Vui lòng nhập thời gian thực hiện
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    Hình ảnh <span class="label-required">*</span>
                                </label>
                                <div class="col-sm-4">
                                    <!--<select name="categoryID" ng-required=true class="form-control" ng-model="categories" 
                                            ng-options="option.CategoryID as option.Display group by option.GroupName for option in categories">
                                        <option value="" selected="selected">[Lựa chọn]</option>
                                    </select>-->

                                    <label class="ace-file-input">
                                        <input type="file" name="linkImage" id="id-input-file-2">
                                        <span class="ace-file-container" data-title="Chọn" ng-click="ChooseImage()">
                                        <span class="ace-file-name" id="spanImage" data-title="Chưa chọn ảnh...">
                                            <i class="ace-icon fa fa-upload"></i>
                                            </span></span>
                                        <a class="remove" href="#"><i class="ace-icon fa fa-times">
                                        </i></a>
                                    </label>
                                    <!--<button class="btn btn-default" ng-click="ChooseImage()">Chọn ảnh</button>-->
                                    <span class="has-error" ng-show="frmAddProject.linkImage.$touched && frmAddProject.linkImage.$error.required">
                                        Vui lòng chọn hình ảnh!
                                    </span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                        </div>
                        
                        <div class="space-4"></div>
                        <div class="col-xs-12 col-md-12">                         
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    Thêm ảnh
                                </label>
                                <div class="col-sm-10">
                                    <button type="button" ng-click="ChooseMoreImage()" class="btn btn-sm btn-default">Chọn ảnh</button>
                                    <label class="ace-file-input ace-file-multiple" ng-show="showImage">
                                        <!--<input multiple="" type="file" id="id-input-file-3">-->
                                        <!--<span class="ace-file-container" ng-click="ChooseMoreImage()" data-title="Browse...">
                                            <span class="ace-file-name" data-title="No File ...">
                                                <i class="ace-icon ace-icon fa fa-cloud-upload"></i>
                                            </span>
                                        </span>-->

                                        <span class="ace-file-container hide-placeholder selected" >
                                            <span class="ace-file-name" ng-repeat="img in moreImages" data-title="{{img}}">
                                                <img class="middle" style="background-image: url({{img}}); width: 50px; height: 50px;" src="{{img}}">
                                                <i ng-click="RemoveImage(img)" class="ace-icon fa fa-times pull-right" style="display:block !important;top: 10px !important;"></i>
                                            </span>
                                        </span>
                                        <a class="remove" ng-click="RemoveAllImage()"><i class="ace-icon fa fa-times"></i></a>
                                    </label>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">Mô tả</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="content" ckeditor="ckeditorOptions"
                                              ng-model="projectInfo.Description"></textarea>
                                </div>
                            </div>
                          
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Meta keyword</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Meta keyword" class="form-control" ng-model="projectInfo.MetaKeyword">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> Meta description</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="255" placeholder="Meta Description" class="form-control" ng-model="projectInfo.MetaDescription">
                                </div>
                            </div>
                            <!--<div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-tags">Tags</label>
                                <div class="col-sm-10">
                                    <div class="inline">
                                        <div class="tags">
                                            <div class="content-tags"></div>
                                            <input type="text" ng-model="projectInfo.Tags" name="tags" style="display:none">
                                            <input type="text" ng-model="inputTags" maxlength="100" ng-keypress="myFunct($event)" placeholder="Tags">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>

                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"></label>
                            <div class="col-sm-10">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" name="all" ng-model="projectInfo.IsShow" />
                                    <span class="lbl"> Hiển thị trang chủ</span>
                                </label>

                                <!--<label class="pos-rel">
                                    <input type="checkbox" class="ace" name="all" ng-model="projectInfo.HotFlag" />
                                    <span class="lbl"> Sản phẩm hot</span>
                                </label>-->
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="row" style="float:right">
                                <div class="col-xs-3">
                                    <button class="btn btn-sm btn-info" type="button" ng-click="Save()" ng-disabled="frmAddProject.$invalid">
                                        <i class="ace-icon fa fa-check bigger-110"></i>Lưu
                                    </button>
                                </div>
                                <div class="col-xs-5">
                                    <button class="btn btn-sm btn-info" type="button" ng-click="SaveContinue()" ng-disabled="frmAddProject.$invalid">
                                        <i class="ace-icon fa fa-check bigger-110"></i>Lưu và tiếp tục
                                    </button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-sm" type="reset" ui-sref="products">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Quay lại
                                    </button>
                                </div>
                                <input type="hidden" ng-model="typeAction" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(function () {
           // $('#datepicker').datepicker({ autoclose: true });
           // $('#datepicker2').datepicker({ autoclose: true });
        });
    </script>
</body>
</html>