<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="page-header">
        <div style="display:initial; ">
            <div class="col-md-7 col-xs-6">
                <span style="font-size:22px">Danh sách slide banner</span>
            </div> 
            <div class="col-md-5 col-xs-6">     
                <div class="col-md-3 col-xs-6 pull-right">
                    <button ng-click="deleteMulti()" id="btnDeleteMulti" ng-disabled="selectDelete" class="btn btn-sm btn-block btn-danger btn-flat" type="button">
                        <i class="fa fa-trash-o"></i> <span class="hidden-480"> Xóa</span>
                    </button>
                </div>
                <div class="col-md-4 col-xs-6 pull-right">
                    <button ng-click="onClickAddSlide()" class="btn btn-sm btn-block btn-primary btn-flat" type="button">
                        <i class="fa fa-plus"></i> <span class="hidden-480">Thêm mới</span>
                    </button>
                </div>
            </div>        
           
        </div>
    </div>

    <!--<div class="row">
        <div class="col-sm-4 col-xs-4">
            <input type="text" class="form-control" ng-model="keyword" maxlength="100" placeholder="Tên dự án">
        </div>
        <div class="col-md-4">
            <div class="input-group date">
                <input type="text" class="form-control pull-left" id="datepicker2" placeholder="Từ ngày">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="datepicker" placeholder="Đến ngày">
            </div>
        </div>

        <div class="col-sm-2 col-xs-3">
            <select name="statusID" class="form-control" ng-model="listStatus.StatusID" ng-change="onChangeStatus()"
                    ng-options="option.StatusID as option.StatusName for option in listStatus"></select>
        </div>
        <div class="col-sm-2 col-xs-2">
            <button class="btn btn-sm btn-block btn-primary btn-flat center-block" type="button" ng-click="onSearch()">
                <i class="fa fa-search"></i> <span class="hidden-480">Tìm kiếm</span>
            </button>
        </div>
    </div>-->
    <div class="space-4"></div>
    <div class="row" ng-show="showTitle">
        <div class="col-md-12">
            <span>Lần thực hiện gần nhất: ngày <strong style="color: orange;">{{StrDate}}</strong> 
            lúc <strong style="color: orange;">{{StrHour}}</strong> bởi 
            <strong style="color: orange;"> {{StrUser}}</strong>
            </span>
        </div> 
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="table-responsive">
                <table id="simple-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 3%; text-align:center">STT</th>
                            <th style="width: 15%; text-align:center">Hình ảnh</th>
                            <th style="width: 30%; text-align:center">Mô tả</th>
                            <th style="width: 18%; text-align:center">Người tạo</th>
                            <th style="width: 10%; text-align:center">Ngày tạo</th>
                            <th style="width: 12%; text-align:center" class="hidden-480">Trạng thái</th>
                            <th style="width: 2%;border-right: 1px solid #ddd; text-align:center" class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" name="all" ng-model="checkall" ng-click="selectAll()" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in lstSlide">
                            <td class="center">{{ $index + 1 }}</td>
                            <td style="text-align: center;">
                                <a style="cursor:pointer;" ui-sref="slideEdit({slideId:item.SlideID})" ng-style="item.IsActive == false && {'color':'red'}">
                                    <img class="middle" style="width: 100px; height: 50px;" src="{{item.Image}}">
                                </a>
                            </td>
                            <td style="text-align: center;"> {{item.Content}}</td>
                            <td>{{item.FullNameCreate}} </td>
                            <td style="text-align: center;">{{item.CreateDate | date :'dd/MM/yyyy'}} </td>
                            <td class="hidden-480" style="font-style:normal">
                                <span ng-class="{'label label-success': item.IsActive == true, 'label label-danger': item.IsActive == false}">
                                    {{ item.IsActive | statusFilter}}
                                </span>
                            </td>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" ng-model="item.checked" /><span class="lbl"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="left">
                                <span ng-hide="checkAllDelete" class="pull-left" style="padding:5px">Không có bản ghi nào</span>
                                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}"
                                                 total-count="{{totalCount}}" search-func="ListSlide(page)">
                                </pager-directive>
                                <select ng-show="checkAllDelete" ng-change="changeShow()" ng-model="valueShow" class="pull"
                                        ng-options="option.value as option.name for option in options"></select>

                                <span ng-show="checkAllDelete" class="hidden-480 pull-right" style="padding:5px">
                                    Hiển thị từ <strong> {{ showFrom }}</strong> - <strong>{{showTo}}</strong> của <strong>{{totalCount}}</strong> bản ghi
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
</body>
</html>

